<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <img src="{{ file }}" alt="Uploaded Image" />
    <br />
    <table>
      <tr>
        <th>Metadata Key</th>
        <th>Metadata Value</th>
      </tr>
      {% for key, value in metadata.items() %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>

  <script src="https://www.gstatic.com/firebasejs/8.0/firebase.js"></script>
<script>
  var config = {
    apiKey: "AIzaSyAE-naRVVTgwIMWsLgyPCWPhvMvsPuOfHU",
    authDomain: "neat-planet-171823.firebaseapp.com",
  };
  firebase.initializeApp(config);
</script>
</html>