<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Image Gallery</title>
    <script>
      async function deleteImage(file_location) {
    
        try {
          const response = await fetch(`delete/${file_location}`, {
            method: "DELETE",
          });

          const result = await response.json();

          if (result.success) {
            window.location.reload();
          }
        } catch (error) {
          console.error("Delete failed", error);
        }
      }
    </script>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-brand">Image Gallery</div>
        <div class="nav-links">
          <a href="/">Home</a>
          <a href="/view">View Gallery</a>
          <a href="/logout">Log out</a>
        </div>
      </nav>
    </header>

    <main class="container">
      <section class="gallery">
        {% for file_metadata in files %}
        <div class="gallery-item">
          <img
            src="{{ file_metadata[1] }}"
            alt="{{ file_metadata[0] }}"
            class="gallery-img"
          />
          <div class="gallery-info">
            <a href="/view/{{ file_metadata[0] }}">{{ file_metadata[0] }}</a>
            <br />

            <a href="{{ file_metadata[1] }}" download class="download-link"
              >Download</a
            >
            <button onclick="deleteImage('{{ file_metadata[0] }}')">
              Delete
            </button>
          </div>
        </div>
        {% endfor %}
      </section>
    </main>
  </body>

  <script src="https://www.gstatic.com/firebasejs/8.0/firebase.js"></script>
  <script>
    var config = {
      apiKey: "AIzaSyAE-naRVVTgwIMWsLgyPCWPhvMvsPuOfHU",
      authDomain: "neat-planet-171823.firebaseapp.com",
    };
    firebase.initializeApp(config);
  </script>
</html>
